{% extends 'base.html' %}

{% block content %}
<u>Upload projects list:</u>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="projectlists">
  <button type="submit">Upload</button>  {{ ProjectListFound }}
</form>

<u>Upload student project choices:</u>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="studentchoices">
  <button type="submit">Upload</button>  {{ StudentChoicesFound }}
</form>



  <!-- <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>File name: {{ obj }}</small>
      </li>
    {% endfor %}
  </ul> -->

  {% autoescape off %}
  <div style="overflow-y: scroll; height:400px;">
    <large>Projects: {{ projects }}</large>
  </div>
  {% endautoescape %}

{% endblock %}