{% extends 'base.html' %}


{% block content %}

<head>
  <script src="https://cdn.plot.ly/plotly-2.25.2.min.js" charset="utf-8"></script>
</head>

<center><h2>Data upload</h2></center>
<u>Upload projects list:</u>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="projectlists">
  <button type="submit">Upload</button>  {{ ProjectListFound }}
</form>
<br>
<u>Upload student project choices:</u>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="studentchoices">
  <button type="submit">Upload</button>  {{ StudentChoicesFound }}
</form>


  <!-- <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>File name: {{ obj }}</small>
      </li>
    {% endfor %}
  </ul> -->
  <hr>
  <center><h2>Check data</h2></center>
  {% autoescape off %}
  <div style="width: 100%;">
    <div style="overflow-y: scroll; height: 300px; width:50%; float: left;">
      <large>Projects: {{ projects }}</large>
    </div>

    <div style="overflow-y: scroll; height:300px; width:50%; float: left;">
      <large>Student choices: {{ Choices }}</large>
    </div>
  </div>
  

  <hr>
  <center><h2>Assign projects</h2></center>

  {{ Report }}



  <div id="myDiv" style="width:600px;height:250px;"></div>

  {{ Plotly }}

  {% endautoescape %}
  
{% endblock %}